p {
  color: #000000;
}

.dates {
  float: up;
}

dates {
  float: up;
}

#dates{
  text-align:right;
  align:right;
  float:right;
}

.left {
  text-align: left;
}

.right {
  float: right;
  float: up;
  align: right;
  text-align: right;
}

body {
  font: Garamond;
}
